/* !PROVEDORES  */
.inventario {
    .container-fluid {
        h1 {
            text-align: center;
            padding: 3rem;
        }
        height: 100%;
        width: 100%;
        .botones{
            background-color: rgb(239, 137, 137);
            padding: 2rem 0;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            button{
                margin: 0.5rem 1rem;
            }
        }
    }
}

/* UTILIDADES */
.utilidades {
    .container-fluid {
        h1 {
            text-align: center;
            padding-top: 3rem;
        }
        .row {
            padding-top: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .col-10 {
                margin: 1.3rem;
                .card {
                    height: 25rem;
                    background-color: $color4;
                    margin: 2rem 1rem;
                    .card-body {
                        .card-title {
                            height: 15%;
                            font-size: 1.6rem;
                        }
                        .card-text {
                            height: 65%;
                            text-align: justify;
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}
