/*? Fuentes */
$font-family1: 'Play', sans-serif;
$font-family2: 'Roboto', sans-serif;
$font-family3: monospace;
$font-family4: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


/*? Colores */
$color1: #cdb4db;
$color2: #ffc8dd;
$color3: #ffafcc;
$color4: #bde0fe;
$color5: #a2d2ff;


/*? Tamaños */
/* $tittleSize: ;
$textSize:;
$iconsSize;
 */



/*? Margins */
$margin1: 1rem;
$margin2: 2rem;
$margin3: 1rem 0;
$margin4: 0 1rem;

